/* ------------- Reponsive ------------------ */

@media (max-width: 991px) {
    .main{
        position: relative;
        overflow: hidden;
    }
    .tab-1{
        order: 3;
    }
    .tab-2{
        order: 1;
    }
    .tab-3{
        order: 2;
    }

    .menu-button-group{
        justify-content: center;
        margin-bottom: 12px;
        button{
            margin: 0 8px;
        }
    }
}

@media (min-width: 767px){
    
}

@media (max-width: 575px){
    
}

