/* ------------- Reponsive ------------------ */

@media (max-width: 991px) {
    .history{
        transform: translateX(100%);
    }

    .dashboard{
        margin-right: 0;
    }
}

@media (max-width: 767px){
    
}

@media (max-width: 575px){
    .dashboard-user{
        .bet-img{
            height: 80px
        }
    }
}

