input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.ws-nowrap {
  white-space: nowrap;
}

body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.unbrightness {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
  margin-right: 320px;
  position: relative;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .user-nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  text-align: center;
  font-size: 20px;
}

.dashboard .user-nav .user-money {
  font-weight: bold;
  color: var(--bs-red);
}

.dashboard-cpt img {
  border: 2px solid #f1f1f1;
}

.dashboard-cpt .img-temp {
  position: absolute;
  width: 60px;
  top: 40%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border: none;
}

.dashboard-user .bet-button {
  font-size: 12px;
}

.dashboard-user .return-button {
  font-size: 12px;
  display: block;
  margin: auto;
  padding: 4px 8px;
}

.dashboard-user .bet-img {
  height: 100px;
}

.dashboard-user .bet-money {
  color: var(--bs-red);
  font-weight: bold;
  font-size: 18px;
}

.bet-input-wrapper {
  display: inline-block;
}

.bet-input-wrapper .bet-input {
  padding: 2px 8px;
  font-size: 14px;
  width: 100%;
}

.bet-input-wrapper .bet-fast-list {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
  background: #fff;
  width: 100%;
  padding-left: 0;
  text-align: left;
  margin-bottom: 0;
  display: none;
}

.bet-input-wrapper .bet-fast-button {
  border: 1px solid #767676;
  padding: 4px 12px;
  cursor: pointer;
}

.bet-input-wrapper:hover .bet-fast-list {
  display: block;
}

.notify span {
  font-size: 20px;
  font-weight: bold;
}

.history {
  width: 320px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: var(--bs-light);
  padding: 8px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.history.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.history .history-head {
  text-align: center;
  border-bottom: 1px solid #000;
}

.history .history-head h3 {
  letter-spacing: 1px;
}

.history .history-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

.history .history-item span {
  font-weight: bold;
}

.history .history-item .history-img {
  width: 40px;
}

.history .history-item .history-result span {
  display: block;
  font-size: 12px;
}

.history .history-item .history-result img {
  width: 100px;
}

/* ------------- Reponsive ------------------ */
@media (max-width: 991px) {
  .history {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .dashboard {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .dashboard-user .bet-img {
    height: 80px;
  }
}
/*# sourceMappingURL=index.css.map */