input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.shadow-me {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.unbrightness {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.scale-1-5 {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.fs-xs {
  font-size: 8px;
}

.fs-s {
  font-size: 12px;
}

.fs-m {
  font-size: 16px;
}

.fs-l {
  font-size: 20px;
}

.dashboard {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.7))), url("/asset/img/xocdia/chieu.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url("/asset/img/xocdia/chieu.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
  position: relative;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--bs-danger);
  font-family: cursive;
  font-weight: bold;
}

.user-nav {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  text-align: center;
  font-size: 20px;
}

.user-nav .user-money {
  font-weight: bold;
  color: var(--bs-red);
}

.bet-nav-container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 12px;
}

.bet-money {
  color: var(--bs-red);
  font-weight: bold;
  font-size: 20px;
}

.bet-container {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bet-container .count-result {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  display: block;
  font-size: 12px;
  font-weight: bold;
}

.bet-input-wrapper {
  display: inline-block;
}

.bet-input-wrapper:hover .bet-fast-list {
  display: block;
}

.bet-input {
  padding: 2px 8px;
}

.bet-fast-list {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
  background: #fff;
  width: 100%;
  padding-left: 0;
  text-align: left;
  margin-bottom: 0;
  display: none;
}

.bet-fast-button {
  border: 1px solid #767676;
  padding: 4px 12px;
  cursor: pointer;
}

.result-img {
  -webkit-transform: translateY(-50px) scale(1.5);
          transform: translateY(-50px) scale(1.5);
}

.bet-img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.start-button {
  letter-spacing: 2px;
}

.notify {
  text-align: center;
}

.notify .notify-title {
  font-weight: bold;
  font-size: 20px;
  display: block;
}

.notify .notify-money-decrease-temp {
  color: var(--bs-red);
  font-weight: bold;
  font-size: 24px;
}

.history {
  width: 320px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: var(--bs-light);
  padding: 8px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.history.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.history .history-head {
  text-align: center;
  border-bottom: 1px solid #000;
  position: relative;
}

.history .history-head h3 {
  letter-spacing: 1px;
}

.history .history-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.history .history-item span {
  font-weight: bold;
}

/* ------------- Reponsive ------------------ */
@media (max-width: 575px) {
  .bet-img {
    width: 60px;
  }
  .bet-input {
    width: 100%;
  }
  .result-img {
    -webkit-transform: unset;
            transform: unset;
  }
  .result-un-start {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
/*# sourceMappingURL=index.css.map */